* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.minesweeper-frame {
	min-width: 200px;
	min-height: 200px;

	width: min-content;
	height: min-content;

	border: solid black 2px;
}

.minesweeper-field {
	margin: 5px;
	min-width: 200px;
	min-height: 200px;

	width: min-content;
	height: min-content;

	border: solid black 2px;

	display: flex;
	flex-direction: column;
}

.minesweeper-row {
	display: flex;
	flex-direction: row;
}

/* Mine tiles styles */

.tile {
	width: 22px;
	height: 22px;
	border-width: 2px;
	border-style: groove;

	/*hides text*/
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.hidden {
	border-color: grey;
	background-color: #ddd;
	color: transparent;
}

.flag {
	border-color: grey;
	background-color: #ddd;
}

.mine {
	border-color: grey;
	background-color: #ddd;
}

.blank {
	border-width: 1px;
	border-color: grey;
	background-color: #aaa;
}

.shown {
	border-color: grey;
	background-color: #ddd;
}

.n1 {
	color: blue;
}

.n2 {
	color: green;
}

.n3 {
	color: red;
}

.n4 {
	color: purple;
}

.n5 {
	color: maroon;
}

.n6 {
	color: turquoise;
}

.n7 {
	color: black;
}

.n8 {
	color: darkgray;
}
