* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#inpForm {
}

.form-row {
}

.form-row label {
}

.form-row input {
}

.minesweeper-frame {
	min-width: 150px;
	padding: 5px;

	width: min-content;
	height: min-content;
	border: solid black 2px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 5px;

	background-color: #ccc;
}

.minesweeper-field {
	display: none;

	width: min-content;
	height: min-content;

	border: solid black 2px;

	flex-direction: column;

	background-color: #999;
}

.stats {
	width: max-content;

	display: flex;
	justify-content: space-between;
}

.time-img {
	width: 25px;
	aspect-ratio: 1;
}

.time-counter {
	line-height: 25px;
	font-size: 25px;
	margin: 0 2px;
}

.lose-screen {
	position: absolute;
	background-color: black;
	opacity: 0;
}

.minesweeper-row {
	display: flex;
	flex-direction: row;
}

/* Mine tiles styles */

.tile {
	width: 22px;
	height: 22px;
	border-width: 2px;
	border-style: groove;
	user-select: none;
	text-align: center;
	line-height: 18px;
	font-size: 19px;
	font-weight: bold;

	/*hides text*/
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.hidden {
	border-color: grey;
	background-color: #aaa;
	color: transparent;
}

.flag {
	border-color: grey;
	background-color: #aaa;
}

.mine.shown {
	background-image: url(../img/mine.png);
	background-size: contain;
}

.red.mine {
	border-color: rgb(121, 52, 52);
	background-color: rgb(255, 100, 100);
}

.shown {
	pointer-events: none;
	border-color: grey;
	background-color: #ddd;
}

.n0.shown {
	border-width: 1px;
}

.n1.shown {
	color: blue;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n2.shown {
	color: green;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n3.shown {
	color: red;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n4.shown {
	color: purple;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n5.shown {
	color: maroon;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n6.shown {
	color: turquoise;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n7.shown {
	color: black;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n8.shown {
	color: darkgray;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}
