* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: helvetica, arial;
}

body {
	width: 100%;
	height: 100%;
}

:root {
	--light-grass: #d4f7ab;
	--grass: #7aaa43;
	--dark-grass: #53742d;
	--very-dark-grass: #405529;

	--a-grass: #a788eb;
	--a-dark-grass: #8a6ccc;
}

main {
	width: 100vw;
	height: 100vh;
	padding: 100px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 40px;

	background-color: var(--grass);
}

#inpForm {
	width: max-content;
}

.form-row {
	width: auto;
	margin: 5px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.form-row label {
	text-shadow: none;
	transition: text-shadow 0.5s;
}
.form-row label:hover {
	text-shadow: white 0 0 3px;
}

.form-row input[type='number'] {
	width: 64px;
}
.form-row input[type='text'] {
	width: 100px;
}

.form-row button {
	margin: auto;
	padding: 4px;
	border: 4px solid var(--a-dark-grass);
	border-radius: 6px;

	font-weight: bold;
	background-color: var(--light-grass);
	color: var(--a-dark-grass);
	transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.form-row button:hover {
	background-color: var(--very-dark-grass);
	border-color: var(--a-grass);
	color: var(--a-grass);
}

.minesweeper-frame {
	min-width: 150px;
	padding: 8px;
	position: relative;

	width: min-content;
	height: min-content;
	border: solid var(--a-grass) 4px;
	border-radius: 8px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 5px;

	background-color: #ccc;
}

.minesweeper-field {
	display: none;

	width: min-content;
	height: min-content;

	border: solid black 2px;

	flex-direction: column;

	background-color: #999;
}

.stats {
	width: max-content;

	display: flex;
	justify-content: space-between;
}

.time-img {
	width: 25px;
	aspect-ratio: 1;
}

.time-counter {
	line-height: 25px;
	font-size: 25px;
	margin: 0 2px;
}

.stop-screen {
	position: absolute;
	background-color: black;
	opacity: 0;
}

.minesweeper-row {
	display: flex;
	flex-direction: row;
}

/* Mine tiles styles */

.tile {
	width: 22px;
	height: 22px;
	border-width: 2px;
	border-style: groove;
	user-select: none;
	text-align: center;
	line-height: 18px;
	font-size: 19px;
	font-weight: bold;

	/*hides text*/
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.hidden {
	border-color: grey;
	background-color: #aaa;
	color: transparent;
}

.flag.hidden {
	border-color: grey;
	background-color: #aaa;
	background-image: url('../img/flag.png');
	background-size: cover;
}

.question.hidden {
	border-color: grey;
	background-color: #aaa;
	background-image: url('../img/question-mark.png');
	background-size: cover;
}

.mine.shown {
	background-image: url(../img/mine.png);
	background-size: contain;
}

.red.mine {
	border-color: rgb(121, 52, 52);
	background-color: rgb(255, 100, 100);
}

.shown {
	pointer-events: none;
	border-color: grey;
	background-color: #ddd;
}

.n0.shown {
	border-width: 1px;
}

.n1.shown {
	color: blue;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n2.shown {
	color: green;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n3.shown {
	color: red;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n4.shown {
	color: purple;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n5.shown {
	color: maroon;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n6.shown {
	color: turquoise;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n7.shown {
	color: black;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}

.n8.shown {
	color: darkgray;

	text-indent: initial;
	white-space: initial;
	overflow: initial;
}
